/* Write your CSS here */
.list-item-lagunage-filter {
  font-family: 'Roboto';
  color: #0f172a;
  margin: 20px;
}
.buttn-language {
  background-color: #ffffff;
  border-width: 0px;

  font-family: 'Roboto';
  font-size: 20px;
  color: #0f172a;
  font-weight: 600;
  cursor: pointer;
  width: 120px;
  outline: none;
}
.active-button {
  border: 1px solid #0284c7;
  color: #0284c7;
  border-radius: 12px;
  padding: 6px;
}
@media screen and (max-width:767px){
  .list-item-lagunage-filter{
    margin: 5px;

  }
  .buttn-language{
    font-size: 14px;
    width: 80px;
  }
}